name: build

on: [push, pull_request]

env:
  gcc_xtensa_lx106_version: gcc8_4_0-esp-2020r3

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Install dependencies
        run: |
          # Installing GCC Xtensa lx106
          curl -L https://dl.espressif.com/dl/xtensa-lx106-elf-${{env.gcc_xtensa_lx106_version}}-win32.zip -o xtensa-lx106-elf-${{env.gcc_xtensa_lx106_version}}-win32.zip
          tar -xf xtensa-lx106-elf-${{env.gcc_xtensa_lx106_version}}-win32.zip -C C:\
          Add-Content $env:GITHUB_PATH "C:\xtensa-lx106-elf\bin"
          # Installing Ninja
          curl -L https://github.com/ninja-build/ninja/releases/download/v1.10.2/ninja-win.zip -o ninja-win.zip
          mkdir C:\ninja
          tar -xf ninja-win.zip -C C:\ninja
          Add-Content $env:GITHUB_PATH "C:\ninja"

      - name: Checkout with submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build
        run: |
          cmake . -Bbuild -G Ninja -DCMAKE_BUILD_TYPE=Debug
          cmake --build build -j

      - name: Set artifacts suffix (if tag)
        if: startsWith(github.ref, 'refs/tags/') == true
        run: Add-Content $env:GITHUB_ENV "git_suffix=$(git describe --tags --abbrev=0)"

      - name: Set artifacts suffix (if branch)
        if: startsWith(github.ref, 'refs/tags/') != true
        run: Add-Content $env:GITHUB_ENV "git_suffix=$(Write-Output "$(git rev-parse --abbrev-ref HEAD)-$(git rev-parse --short HEAD)")"

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: esp8266-${{env.git_suffix}}
          path: |
            build/esp8266
            build/esp8266.bin
            build/esp8266.map
          if-no-files-found: error

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          wget -q https://dl.espressif.com/dl/xtensa-lx106-elf-$gcc_xtensa_lx106_version-linux-amd64.tar.gz
          sudo tar -xzf xtensa-lx106-elf-$gcc_xtensa_lx106_version-linux-amd64.tar.gz -C /usr/share/
          echo "/usr/share/xtensa-lx106-elf\bin" >> $GITHUB_PATH
          python3 -m pip install --user -r https://raw.githubusercontent.com/espressif/ESP8266_RTOS_SDK/master/requirements.txt
          sudo apt update && sudo apt install ninja-build

      - name: Checkout with submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build
        run: |
          cmake . -Bbuild -G Ninja -DCMAKE_BUILD_TYPE=Debug
          cmake --build build -j
